# # docker-compose.yml

# version: '3.8'
# services:

#   postgres:
#     image: postgres:13.5
#     restart: always
#     environment:
#       - POSTGRES_USER=myuser
#       - POSTGRES_PASSWORD=mypassword
#       - POSTGRES_DB=sajhabook
#     volumes:
#       - postgres:/var/lib/postgresql/data
#     ports:
#       - '5432:5432'
#   web:
#     container_name: nestjs_api_dev
#     image: nestjs-api-dev:1.0.0
#     command: npm run start:debug
#     depends_on:
#       - postgres
#     networks:
#       - nesjs-network
#     # volumes:
#     #   -.:/usr/src/app
#     #   -/usr/src/app/node_modules
#     volumes:
#       - .:/usr/src/app
#       - /usr/src/app/node_modules
#     restart: unless-stopped
#     build:
#       context: .
#       dockerfile: ./Dockerfile
#     ports:
#       - '3000:3000'

    
    

# volumes:
#   postgres:

# networks:
#     nesjs-network: